~/Documents/Projects/hello/.vscode/*
~/Documents/Projects/hello/Include/*
~/Documents/Projects/hello/Lib/*
~/Documents/Projects/hello/Scripts/*
~/Documents/Projects/hello/pip-selfcheck.json
~/Documents/Projects/hello/pyvenv.cfg